.countryCard{
   border: 1px solid black;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 5px;
   width: 200px;
   height: 200px;
   border-radius: 10px;
}

.countryFlag{
    width: 100px;
    height: 100px;
}